body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  font-family: "Verdana";
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer img {
  width : 100px;
  margin-right: 5px;
}
